USE master;  
GO  
IF DB_ID ('Bank') IS NOT NULL  
DROP DATABASE Bank;  
GO  
CREATE DATABASE Bank  
go
use Bank
go

--Create Bank
create table Bank
(
	b_id	char(10),
	b_name	nvarchar(50),
	b_ad	nvarchar(200),
	primary key(b_id)
)
go
-- Create BRANCH
create table Branch
(
	BR_id CHAR(5),
	BR_name	nvarchar(50),
	BR_ad	nvarchar(150),
	B_id	char(10),
	primary key(BR_id),
	foreign key (B_id) references Bank
)
go
-- Create CUSTOMER
create table customer
(
	Cust_id	char(6),
	Cust_name	nvarchar(50),
	Cust_phone	varchar(15),
	Cust_ad		nvarchar(150),
	Br_id		char(5),
	primary key(Cust_id),
	foreign key (Br_id) references Branch
)
go
-- Create ACCOUNT
create table account
(
	Ac_no	char(10),
	ac_balance	numeric(15,0),
	ac_type	char(1),
	cust_id	char(6),
	primary key(ac_no),
	foreign key(cust_id) references Customer
)
go
-- Create transactions
create table transactions
(
	t_id	char(10),
	t_type	char(1),
	t_amount numeric(15,0),
	t_date	date,
	t_time	time,
	ac_no	char(10),
	primary key(t_id),
	foreign key (ac_no) references account
)
go
---Insert data
insert into bank values('BFTVVNVX07',N'Ngân hàng Công thương Việt Nam',N'03 Lý Thái Tổ, Hà Nội, Việt Nam')

insert into branch values('VB001',N'Vietcombank Thái Bình',N'12 Lý Bôn - tp Thái Bình','BFTVVNVX07')
insert into branch values('VB002',N'Vietcombank Nam Định',N'04 Trần Hưng Đạo - tp Nam Định','BFTVVNVX07')
insert into branch values('VB003',N'Vietcombank Thái Nguyên',N'44 Trần Nhân Tông - tp Thái Nguyên','BFTVVNVX07')

insert into customer values('000001',N'Hà Công Lực','01283388103',N'NGUYỄN TIẾN DUẨN - THÔN 3 - XÃ DHÊYANG - EAHLEO - ĐĂKLĂK','VT009')
insert into customer values('000002',N'Trần Đức Quý','01638843209',N'215/90 VÕ VĂN KIỆT, PHƯỜNG THANH XUÂN, TP BUÔN MA THUỘT, ĐĂK LĂK','VT010')
insert into customer values('000003',N'Lê Quang Phong','01219688656',N'TRUNG THIỆN, DƯƠNG THỦY, LỆ THỦY, QUẢNG BÌNH.','VT011')

insert into account values('1000000001',88118000,'1','000001')
insert into account values('1000000002',188372000,'0','000002')
insert into account values('1000000003',44770000,'0','000003')

insert into transactions values('0000000201','0',1752000,'2011/12/27','07:45','1000000041')
insert into transactions values('0000000202','0',3617000,'2016/01/31','03:12','1000000019')
insert into transactions values('0000000203','0',1344000,'2012/06/16','09:43','1000000009')



USE Bank
--- 

SELECT TOP 1 WITH TIES MONTH(transactions.t_date) as Thang, COUNT(transactions.t_id) as Dem
FROM transactions JOIN account  ON transactions.ac_no = account.Ac_no
				  JOIN customer ON account.cust_id	  = customer.Cust_id
				  JOIN Branch	ON customer.Br_id     = Branch.BR_id
WHERE Branch.BR_name like N'%Đà Nẵng' 
GROUP BY MONTH (transactions.t_date) 
ORDER BY COUNT(transactions.t_id) DESC




CREATE PROCEDURE ok0
AS
	BEGIN
	DECLARE @maximum int
	SET @maximum = ( SELECT TOP 1 COUNT(transactions.t_id) as Dem
					FROM transactions JOIN account  ON transactions.ac_no = account.Ac_no
									  JOIN customer ON account.cust_id	  = customer.Cust_id
									  JOIN Branch	ON customer.Br_id     = Branch.BR_id
					WHERE Branch.BR_name like N'%Đà Nẵng' 
					GROUP BY MONTH (transactions.t_date)
					ORDER BY COUNT(transactions.t_id) DESC )
	SELECT MONTH(transactions.t_date) as Thang, COUNT(transactions.t_id) as Dem
	FROM transactions JOIN account  ON transactions.ac_no = account.Ac_no
					  JOIN customer ON account.cust_id	  = customer.Cust_id
					  JOIN Branch	ON customer.Br_id     = Branch.BR_id
	WHERE Branch.BR_name like N'%Đà Nẵng' 
	GROUP BY MONTH(transactions.t_date)
	HAVING COUNT(transactions.t_id) = @maximum
	Print(@maximum)
	END


ok0




DECLARE @maximum int
SET @maximum = ( SELECT TOP 1 COUNT(transactions.t_id) as Dem
				FROM transactions JOIN account  ON transactions.ac_no = account.Ac_no
									JOIN customer ON account.cust_id	  = customer.Cust_id
									JOIN Branch	ON customer.Br_id     = Branch.BR_id
				WHERE Branch.BR_name like N'%Đà Nẵng' 
				GROUP BY MONTH (transactions.t_date)
				ORDER BY COUNT(transactions.t_id) DESC )
SELECT MONTH(transactions.t_date) as Thang, COUNT(transactions.t_id) as Dem
FROM transactions JOIN account  ON transactions.ac_no = account.Ac_no
					JOIN customer ON account.cust_id	  = customer.Cust_id
					JOIN Branch	ON customer.Br_id     = Branch.BR_id
WHERE Branch.BR_name like N'%Đà Nẵng' 
GROUP BY MONTH(transactions.t_date)
HAVING COUNT(transactions.t_id) = @maximum
Print(@maximum)



drop proc ok0